/*
/*/
!/dev/
!/plugins/
/plugins/*/
!/plugins/rikki/
!/plugins/dev/
!/themes/
/themes/*/
!/themes/HeroesLounge-Theme/
!/docs/
*.gitignore

/plugins/rikki/.idea/*
/plugins/rikki/heroeslounge/assets/partials/*
/plugins/rikki/heroeslounge/assets/scss/*
/themes/HeroesLounge-Theme/pages/test.htm

!Vagrantfile
!install_october.sh
!install_hl.sh

*.pyc
